* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.MenuOrder {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  overflow-y: auto;
  min-width: 10em;

  > .filter button {
    padding: 0.25em;
    text-align: center;
  }
}

.menu-button-home {
  width: max-content;
  opacity: 0;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  z-index: 3;
  position: absolute;
  margin: 2em;
  left: 0;

  > input,
  &::before,
  &::after {
    transform-origin: left center;
    opacity: 0;
    content: "";
    background-color: black;
    border-radius: 0.25em;
    height: 5px;
    transition: width 1s, translate 1s, rotate 1s, opacity 1.2s;
  }

  &::before {
    width: 50px;
    translate: 0;
  }
  &::after {
    width: 30px;
    translate: 0;
  }
  input {
    width: 40px;
  }

  > input {
    appearance: none;
    margin: 0;
    pointer-events: none;
  }
}
.menu-button-home:has(input:checked) input {
  width: 0;
  opacity: 0;
}
.menu-button-home:has(input:checked)::after {
  rotate: -45deg;
  translate: 0 3px;
  width: 35px;
}
.menu-button-home:has(input:checked)::before {
  rotate: 45deg;
  translate: 0 -3px;
  width: 35px;
}

.MenuOrder:has(input:checked) .SideMenu {
  display: block;
  transform: translateX(0);
  transition: transform 1s;
}

.Menu {
  padding: 2em;

  > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    padding: 0;
    list-style: none;
  }
}

.menu-button {
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 4em;

  > input,
  &::before,
  &::after {
    content: "";
    background-color: black;
    border-radius: 0.25em;
    height: 5px;
  }

  &::before {
    width: 50px;
  }
  &::after {
    width: 30px;
  }
  input {
    width: 40px;
  }

  > input {
    appearance: none;
    margin: 0;
    pointer-events: none;
  }
}

.Orders {
  padding: 1em;
  display: flex;
  flex-direction: column;

  .MyOrders {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;

    > div {
      padding: 1em;
      background-color: tomato;
      border-radius: 0.5em;
    }
  }
  footer button {
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1.2em;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  height: 5em;
  font-size: 2em;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 10em;
  gap: 0.5em;
  padding: 2em;
  background: #a7a7a7;

  > div {
    background-color: antiquewhite;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    gap: 20px;

    > div.image {
      background-color: #a7a7a7;
      width: 50%;
      flex-shrink: 0;
      border-radius: 0.5em;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.25em;
      }
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 0.5em;

  > button {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: none;
  }
  .menu-button-home {
    display: flex;
    opacity: 1;

    > input,
    &::after,
    &::before {
      opacity: 1;
    }
  }
  .App {
    grid-template-columns: auto;
  }
  .OrdersTab {
    display: none;
  }
  .Menu {
    position: absolute;
    background-color: #ffffff77;
    backdrop-filter: blur(10px);
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s;
    padding: 6em 2em;
  }
  .MenuOrder {
    grid-template-columns: auto;
    position: relative;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .App {
    grid-template-columns: auto;
  }
  .OrdersTab {
    display: none;
  }
}
