.banner {
  background-color: beige;
  padding: 1em 3em;
}
.container {
  padding: 5em;
}
.usersContainer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.chat {
  display: flex;
  padding: 0.5em 2em;
  gap: 1em;
  flex-direction: row;
  border: 2px solid gray;
  border-radius: 1em;
  overflow: hidden;

  > img {
    border-radius: 50%;
    border: 1px solid gray;
  }
}

.chatbox {
  border-radius: 1em;
  padding: 1em;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;

  .chatsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > div {
      border-radius: 0.25em;
      width: max-content;
      padding: 0.25em;

      > p {
        margin: 0;
      }
      > img {
        width: 10em;
      }
    }
  }

  .userChat {
    border: 2px solid red;
    align-self: flex-start;
  }
  .adminChat {
    border: 2px solid black;
    align-self: flex-end;
  }

  form {
    padding: 0.5em;
    background-color: aliceblue;
  }
}
