.Page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.withOrderTab {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  height: 100vh;
}

.OrderTab {
  display: none;
}

.SideMenuTab {
  transition: translate 1s;
  z-index: 100;
}
.HamburgerMenu {
  width: max-content;
  display: none;
  right: 10%;
  flex-direction: column;
  gap: 0.25em;
  z-index: 999;
  position: fixed;
  margin: 2em;
  left: 0;

  > input,
  &::before,
  &::after {
    display: none;
    transform-origin: left center;
    content: "";
    background-color: black;
    border-radius: 0.25em;
    height: 5px;
    transition: width 1s, translate 1s, rotate 1s, opacity 1.2s;
  }

  &::before {
    width: 50px;
    translate: 0;
  }
  &::after {
    width: 30px;
    translate: 0;
  }
  > input {
    width: 40px;
    appearance: none;
    margin: 0;
    pointer-events: none;
  }
}
.HamburgerMenu:has(input:checked) input {
  width: 0;
  opacity: 0;
}
.HamburgerMenu:has(input:checked)::after {
  rotate: -45deg;
  translate: 0 3px;
  width: 35px;
}
.HamburgerMenu:has(input:checked)::before {
  rotate: 45deg;
  translate: 0 -3px;
  width: 35px;
}
.Page:has(.HamburgerMenu > input:checked) .SideMenuTab {
  transform: translateX(0);
}
.withOrderTab:has(.HamburgerMenu > input:checked) .SideMenuTab {
  transform: translateX(0);
}

.PageContent {
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .Page,
  .withOrderTab {
    grid-template-columns: auto;
  }
  .SideMenuTab {
    position: absolute;
    background-color: #ffffff77;
    backdrop-filter: blur(10px);
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s;
    padding-top: 6em;
  }
  .HamburgerMenu {
    display: flex;

    > input,
    &::after,
    &::before {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Page,
  .withOrderTab {
    grid-template-columns: 1fr 5fr;
  }
}

@media screen and (min-width: 1025px) {
  .OrderTab {
    display: block;
  }
}
