.SignInPage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background: radial-gradient(#ffda75, rgb(200, 0, 255));
  position: absolute;
  left: 18%;
  top: 20%;
}

.circle2 {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background: radial-gradient(#ffda75, rgb(200, 0, 255));
  position: absolute;
  left: 65%;
  top: 60%;
}

.SignInCard {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1em;
  width: 50%;
  padding: 2em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  > h1 {
    color: white;
  }

  > a {
    text-decoration: none;
    color: white;

    &:hover {
      color: salmon;
    }
  }

  input {
    padding: 1em;
    height: 2.5em;
    width: 60%;
    border-radius: 1em;
    border: 1px solid rgba(238, 238, 238, 0.452);
    background-color: #ffffff7e;
  }

  > button {
    background-color: white;
    color: salmon;
    width: 60%;
    height: 2.5em;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    border: none;

    &:hover {
      background-color: salmon;
      color: white;
    }
  }

  h5 {
    margin: 0;
    display: inline;

    + button {
      background: none;
      border: none;
      color: white;
      font-weight: bold;

      &:hover {
        color: salmon;
      }
    }
  }
}

.SignUpCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1em;
  width: 50%;
  padding: 2em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  h1 {
    color: white;
  }

  input {
    padding: 1em;
    height: 2.5em;
    width: 60%;
    border-radius: 1em;
    border: 1px solid rgba(238, 238, 238, 0.452);
    background-color: #ffffff7e;
  }

  h5 {
    margin: 0;
    display: inline;

    + button {
      background: none;
      border: none;
      color: white;
      font-weight: bold;

      &:hover {
        color: salmon;
      }
    }
  }

  > form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.7em;
    align-items: center;

    > input {
      width: 100%;
    }

    > button {
      background-color: white;
      color: salmon;
      width: 100%;
      height: 2.5em;
      border-radius: 5em;
      font-weight: bold;
      font-size: 1em;
      border: none;
      grid-column: span 2;

      &:hover {
        background-color: salmon;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .circle {
    left: -10%;
  }
  .SignUpCard {
    width: 95%;
  }
  .SignInCard {
    width: 95%;
  }
}
