.Banner {
  background-color: #ffda75;
  border: 2px solid white;
  border-radius: 0.25em;
  height: 5em;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    margin: 0;
  }
}
