nav {
  position: relative;
  height: 98vh;
  > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    padding-top: 6em;

    li {
      a {
        padding: 0.8em 2em;
        display: block;
        border-radius: 0.5em;

        &:hover {
          background-color: #ffe9ae;
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.menu-button {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 4em;
  position: fixed;
  left: 2em;
  top: 5%;

  > input,
  &::before,
  &::after {
    content: "";
    background-color: black;
    border-radius: 0.25em;
    height: 5px;
  }

  &::before {
    width: 50px;
  }
  &::after {
    width: 30px;
  }
  input {
    width: 40px;
  }

  > input {
    appearance: none;
    margin: 0;
    pointer-events: none;
  }
}

nav > button {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  color: red;
  padding: 1em;
  width: 10em;
}

@media screen and (max-width: 767px) {
  nav {
    > ul {
      padding-top: 1em;
    }
  }
  .menu-button {
    display: none;
  }
}
