.TransactionBanner {
  background-color: #ffda75;
  border: 2px solid white;
  border-radius: 0.25em;
  height: 5em;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    margin: 0;
  }
}

.TransactionContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  > p {
    margin: 0;
  }
}

.orders {
  border-radius: 0.5em;
  background-color: rgb(252, 252, 252);
  border: 2px solid rgb(0, 0, 0);
  margin: 1em;
}

.MyOrders {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 10em;
  gap: 0.5em;
  padding: 1.5em;
}

.menuCards {
  border: 2px solid salmon;
  border-radius: 0.5em;
  padding: 0.5em;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  gap: 0.25em;
  align-items: center;
  background-color: #fffaeb;

  :nth-child(2) {
    font-weight: bold;
    text-decoration: underline;
  }

  > p {
    margin: 0;
    text-align: center;
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffda75;
    border: none;
    border-radius: 0.25em;
    height: 100%;
    font-size: 1.2em;
  }

  > img {
    grid-area: 1 / 1 / 5 /2;
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
    object-fit: cover;
  }
}

.menuCards:has(> .sauce) {
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;

  > .sauce {
    text-align: center;
    padding: 0.2em;
    border-radius: 0.25em;
    border: 2px solid var(--main);
    max-width: max-content;
    margin: 0 auto;

    > span {
      display: inline-flex;
      align-items: center;
      text-align: center;
      padding: 0.25em;
      border: 2px solid var(--main);
      border-radius: 0.25em;

      &:hover {
        background-color: var(--main);
      }
    }
  }
  > img {
    grid-area: 1 / 1 / 6 /2;
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
    object-fit: cover;
  }
}
